html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

page {
    height: 100%;
    width: 100%;
    font-size: 80px;
    position: absolute;
    text-align: center;
    padding-top: 5%;
    /*animation:season 3s infinite;*/
}

#c {
    background-color: #FFF;
    color: lightsalmon;
    animation: c 5s infinite;
    background-image: url("../img/chun.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  500px 300px;
}

#x {
    color: #18cc86;
    background-color: #FFF;
    animation: x 5s infinite;
    background-image: url("../img/xia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  500px 300px;

}

#q {
    color: #ccb829;
    background-color: #FFF;
    animation: q 5s infinite;
    background-image: url("../img/qiu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  400px 700px;

}

#d {
    color: #e2b9e5;
    background-color: #FFF;
    animation: d 5s infinite;
    background-image: url("../img/dong.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  500px 300px;
}

#z {
    font-size: 80px;
    text-align: center;
    color: #e2b9e5;
    background-color: #FFF;
    animation: d 5s infinite;
}

@keyframes season {
    0% {
        opacity: 0
    }
    100% {
        opacity: 100
    }
}

@keyframes z {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    75% {
        opacity: 0
    }
    100% {
        opacity: 100
    }

}

@keyframes c {
    0% {
        opacity: 0
    }
    25% {
        opacity: 100
    }
    50% {
        opacity: 0
    }
    75% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes x {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0
    }
    50% {
        opacity: 100
    }
    75% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes q {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    75% {
        opacity: 100
    }
    100% {
        opacity: 0
    }
}

@keyframes d {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    75% {
        opacity: 0
    }
    100% {
        opacity: 100
    }
}

